.product ul{
    display: flex;
    list-style: none;
    justify-content: left;
    padding-right: 30px;
    margin-top: 50px;
    
  }
  .product li{
    margin-right: 20px;
    border-bottom: 2px;
    font-size: 20px;
    cursor: pointer;
    
  }
  a{
    text-decoration: none;
    color: black;
  }
  a.active{
    color:green
  }
  li a.active{

    border-color: rgb(37, 36, 36);
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    padding: 10px 10px 10px 10px;
  }
  .prod_table{
    overflow-y: auto; 
    overflow-x: auto;
  }